@import "tailwindcss";

/* global.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
@layer base {
  /* Chrome, Safari, Edge, Opera */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

@theme{
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
}
.has-event.CIT {
  background: #e9cfed !important;
  color: #621668 !important;
  border-radius: 6px;
  font-weight: bold;
}

.has-event.COE {
  background: #c6e1f4 !important;
  color: #020180 !important;
  border-radius: 6px;
  font-weight: bold;
}

.has-event.COC {
  background: #f8cbd2 !important;
  color: #660a0a !important;
  border-radius: 6px;
  font-weight: bold;
}

.has-event.COT {
  background: #f1edc2 !important;
  color: #847714 !important;
  border-radius: 6px;
  font-weight: bold;
}

.has-event.ESAF {
  background: #eecfa1 !important;
  color: #6f3306 !important;
  border-radius: 6px;
  font-weight: bold;
}

.has-event.SSC {
  background: #e8f5e9 !important;
  color: #174515 !important;
  border-radius: 6px;
  font-weight: bold;
}

